---
- name: "Debian Derivates: Download host-specific Checkmk {{ checkmk_agent_edition | upper }} Agent."
  ansible.builtin.uri:
    url: "{{ checkmk_agent_agent.url.cee }}?host_name={{ inventory_hostname }}&os_type=linux_deb&agent_type=host_name"
    validate_certs: "{{ checkmk_agent_server_validate_certs | bool }}"
    dest: "{{ checkmk_agent_agent.file.host }}"
    method: GET
    headers:
      Authorization: "Bearer {{ checkmk_agent_user }} {{ checkmk_agent_pass }}"
      Accept: "application/octet-stream"
  when: checkmk_agent_edition == "cee" or checkmk_agent_edition == "cfe"
  register: checkmk_agent_download_state
  # This task may fail, as we fall back to the generic agent in that case
  failed_when: 'false'
  changed_when: 'false'
  tags:
    - download-package

- name: "Debian Derivates: Install host-specific Checkmk {{ checkmk_agent_edition | upper }} Agent."
  become: true
  ansible.builtin.apt:
    deb: "{{ checkmk_agent_agent.file.host }}"
    force: "{{ checkmk_agent_force_install | bool }}"
    state: present
  when: |
    (checkmk_agent_edition == "cee" or checkmk_agent_edition == "cfe")
    and checkmk_agent_download_state.status == 200
  tags:
    - install-package

- name: "Debian Derivates: Download GENERIC Checkmk {{ checkmk_agent_edition | upper }} Agent."
  ansible.builtin.uri:
    url: "{{ checkmk_agent_agent.url.cee }}?os_type=linux_deb&agent_type=generic"
    validate_certs: "{{ checkmk_agent_server_validate_certs | bool }}"
    dest: "{{ checkmk_agent_agent.file.cee }}"
    method: GET
    headers:
      Authorization: "Bearer {{ checkmk_agent_user }} {{ checkmk_agent_pass }}"
      Accept: "application/octet-stream"
  when: |
    (checkmk_agent_edition == "cee" or checkmk_agent_edition == "cfe")
    and checkmk_agent_download_state.status != 200
  retries: 5
  tags:
    - download-package

- name: "Debian Derivates: Install GENERIC Checkmk {{ checkmk_agent_edition | upper }} Agent."
  become: true
  ansible.builtin.apt:
    deb: "{{ checkmk_agent_agent.file.cee }}"
    force: "{{ checkmk_agent_force_install | bool }}"
    state: present
  when: |
    (checkmk_agent_edition == "cee" or checkmk_agent_edition == "cfe")
    and checkmk_agent_download_state.status != 200
  tags:
    - install-package

- name: "Debian Derivates: Install Checkmk CRE Agent."
  become: true
  ansible.builtin.apt:
    deb: "{{ checkmk_agent_agent.file.cre }}"
    force: "{{ checkmk_agent_force_install | bool }}"
    state: present
  when: checkmk_agent_edition == "cre"
  tags:
    - install-package
