---
- name: "RedHat Derivates: Download host-specific Checkmk {{ checkmk_agent_edition | upper }} Agent."
  ansible.builtin.uri:
    url: "{{ checkmk_agent_agent.url.cee }}?host_name={{ inventory_hostname }}&os_type=linux_rpm&agent_type=host_name"
    validate_certs: "{{ checkmk_agent_server_validate_certs | bool }}"
    dest: "{{ checkmk_agent_agent.file.host }}"
    method: GET
    headers:
      Authorization: "Bearer {{ checkmk_agent_user }} {{ checkmk_agent_auth }}"
      Accept: "application/octet-stream"
  become: false
  when: |
    checkmk_agent_edition == "cee" or
    checkmk_agent_edition == "cfe" or
    checkmk_agent_edition == "cme"
  register: checkmk_agent_download_state
  # This task may fail, as we fall back to the generic agent in that case
  failed_when: 'false'
  changed_when: 'false'
  tags:
    - download-package

- name: "RedHat Derivates: Install host-specific Checkmk {{ checkmk_agent_edition | upper }} Agent."
  become: true
  ansible.builtin.yum:
    name: "{{ checkmk_agent_agent.file.host }}"
    state: present
    disable_gpg_check: true
  when: |
    (checkmk_agent_edition == "cee" or
    checkmk_agent_edition == "cfe" or
    checkmk_agent_edition == "cme")
    and checkmk_agent_download_state.status == 200
  tags:
    - install-package

- name: "RedHat Derivates: Download GENERIC Checkmk {{ checkmk_agent_edition | upper }} Agent."
  ansible.builtin.uri:
    url: "{{ checkmk_agent_agent.url.cee }}?os_type=linux_rpm&agent_type=generic"
    validate_certs: "{{ checkmk_agent_server_validate_certs | bool }}"
    dest: "{{ checkmk_agent_agent.file.cee }}"
    method: GET
    headers:
      Authorization: "Bearer {{ checkmk_agent_user }} {{ checkmk_agent_auth }}"
      Accept: "application/octet-stream"
  become: false
  when: |
    (checkmk_agent_edition == "cee" or
    checkmk_agent_edition == "cfe" or
    checkmk_agent_edition == "cme")
    and checkmk_agent_download_state.status != 200
  retries: 3
  tags:
    - download-package

- name: "RedHat Derivates: Install Checkmk CRE Agent."
  become: true
  ansible.builtin.yum:
    name: "{{ checkmk_agent_agent.file.cre }}"
    state: present
    disable_gpg_check: true
  when: checkmk_agent_edition == "cre"
  tags:
    - install-package

- name: "RedHat Derivates: Install GENERIC Checkmk {{ checkmk_agent_edition | upper }} Agent."
  become: true
  ansible.builtin.yum:
    name: "{{ checkmk_agent_agent.file.cee }}"
    state: present
    disable_gpg_check: true
  when: |
    (checkmk_agent_edition == "cee" or
    checkmk_agent_edition == "cfe" or
    checkmk_agent_edition == "cme")
    and checkmk_agent_download_state.status != 200
  tags:
    - install-package

- name: "RedHat Derivates: Install Checkmk CRE Agent."
  become: true
  ansible.builtin.yum:
    name: "{{ checkmk_agent_agent.file.cre }}"
    state: present
    disable_gpg_check: true
  when: checkmk_agent_edition == "cre"
  tags:
    - install-package

- name: "Configure Firewall for Agent."
  block:
    - name: "Check if checkmk_agent_server is an IP address."
      ansible.builtin.set_fact:
        checkmk_agent_server_ip: "{{ checkmk_agent_server }}"
      when: checkmk_agent_server_ip is not defined and checkmk_agent_server | ipaddr()

    - name: "Allow Checkmk services access to the agent."
      ansible.posix.firewalld:
        permanent: 'yes'
        immediate: 'yes'
        state: enabled
        rich_rule: 'rule family="ipv4" source address={{ checkmk_agent_server_ip }} port port="6556" protocol="tcp" accept'
      when: checkmk_agent_server_ip is defined
      become: true
  when: checkmk_agent_configure_firewall | bool
