.vagrant
.*.swp
.*.swo
*~
tribe29-checkmk-*.tar.gz
checkmk-general-*.tar.gz
.vagrant/
.tox/
build/
tests/output
playbooks/vars/config.yml
playbooks/test*.yml
playbooks/hosts
playbooks/hosts.bak
Vagrantfile
Vagrantfile.bak
venv