---
server_url: "http://localhost/"
site: "$SITENAME"
automation_user: "automation"
automation_secret: "$SECRET"

checkmk_folders:
  - path: /test
    title: Test
  - path: /foo
    title: Foo
  - path: /bar
    title: Bar
  - path: /foo/bar
    title: Bar
  - path: /bar/foo
    title: Foo
  - path: /foo/bar/treasure
    title: Treasure

checkmk_ruleset: "checkgroup_parameters:memory_percentage_used"

checkmk_rule:
  conditions: {
    "host_labels": [],
    "host_name": {
      "match_on": [
        "test1.tld"
      ],
      "operator": "one_of"
    },
    "host_tags": [],
    "service_labels": []
  }
  properties: {
    "comment": "Warning at 80%\nCritical at 90%\n",
    "description": "Allow higher memory usage",
    "disabled": false,
    "documentation_url": "https://github.com/Checkmk/ansible-collection-checkmk.general/blob/main/plugins/modules/rules.py"
  }
  value_raw: "{'levels': (80.0, 90.0)}"
