---
- name: "Restart Apache"
  ansible.builtin.service:
    name: apache2
    state: restarted

- name: "Restart httpd"
  ansible.builtin.service:
    name: httpd
    state: restarted

- name: "Warn site admin password"
  ansible.builtin.debug:
    msg:
      - "You created at least one site without specifying an admin password!"
      - "Please make sure to set it by different means, if you do not want to do it here."
