---
# This playbook uses the inventory from the 'playbooks/hosts' file and expects
# an expects an existing site with the below configuration and hosts of the group
# 'vagrant'.

- name: "Register hosts against a remote site. Both for updates and TLS."
  hosts: vagrant
  strategy: linear
  vars:
    # Basic server and authentication information.
    # You have to provide the distributed setup yourself.
    checkmk_agent_version: "2.2.0p7"
    checkmk_agent_edition: "cre"
    checkmk_agent_user: "cmkadmin"
    checkmk_agent_pass: "password"
    # Here comes the part, where we get into remote registration
    checkmk_agent_server_protocol: http
    # The following should be set to the central site.
    # This where you configure the host objects.
    # Currently the agent package is also pulled from here.
    checkmk_agent_server: 192.168.56.1
    checkmk_agent_site: "ansible"
    # The following should be pointed to the respective remote site.
    # This is where the registration will happen.
    checkmk_agent_registration_server: "{{ checkmk_agent_server }}"
    checkmk_agent_registration_site: ansible_remote_1
    # The folder might differ from your remote site name,
    # as it is the technical path. Check your configuration for this information.
    checkmk_agent_folder: "/remote_1"
    # These options need to be enabled for all registrations to work.
    # You can however disable the one you do not want to perform.
    # But the host needs to be added and changes activated in any case.
    checkmk_agent_auto_activate: 'true'
    checkmk_agent_update: 'true'
    checkmk_agent_tls: 'true'
    checkmk_agent_add_host: 'true'
    # These are some generic agent options you might want to configure.
    checkmk_agent_discover: 'true'
    checkmk_agent_discover_max_parallel_tasks: 0
    checkmk_agent_force_install: 'true'
    checkmk_agent_delegate_api_calls: localhost
    checkmk_agent_delegate_download: "{{ inventory_hostname }}"
    checkmk_agent_host_name: "{{ inventory_hostname }}"
    checkmk_agent_host_folder: "{{ checkmk_var_site }}"
    checkmk_agent_host_ip: "{{ ansible_host }}"
    checkmk_agent_host_attributes:
      ipaddress: "{{ checkmk_agent_host_ip | default(omit) }}"
  roles:
    - agent
