---
# This variable is used to declare explicit support for distinct distributions.
# Adding a distribution here states, that you tested this role against that
# distribution and found it working. Many distributions might work without
# modification of the role. This should be tested however, so this variable
# actually provides value. That being said, this is a artificial limitation
# and you are free to circumvent it at your own risk.
checkmk_server_server_stable_os:
  - AlmaLinux-8
  - AlmaLinux-9
  - AlmaLinux-10
  - CentOS-7
  - CentOS-8
  - CentOS-9
  - CentOS-10
  - Debian-10
  - Debian-11
  - Debian-12
  - RedHat-7
  - RedHat-8
  - RedHat-9
  - RedHat-10
  - OracleLinux-8
  - OracleLinux-9
  - OracleLinux-10
  - Rocky-8
  - Rocky-9
  - Rocky-10
  - Ubuntu-18
  - Ubuntu-20
  - Ubuntu-22
  - Ubuntu-24

## Basic Configuration
checkmk_server_version: "2.4.0p16"
checkmk_server_edition: 'cre'
checkmk_server_verify_setup: true
checkmk_server_epel_gpg_check: true
checkmk_server_cleanup: 'false'

## Authentication
checkmk_server_download_user: []
checkmk_server_download_pass: []
checkmk_server_gpg_download_user: []
checkmk_server_gpg_download_pass: []

## Security
checkmk_server_no_log: true
checkmk_server_configure_firewall: true
checkmk_server_ports:
  - 22
  - 80
  - 443
  - 8000

## Site Mangement
checkmk_server_sites: []
# - name: mysite
#   version: "{{ checkmk_server_version }}"
#   edition: "{{ checkmk_server_edition }}"
#   state: started
#   admin_pw: "{{ checkmk_var_automation_secret | default(omit) }}"
#   update_conflict_resolution: abort
#   omd_auto_restart: 'false'
#   omd_config:
#     - var: LIVESTATUS_TCP
#       value: 'on'
#     - var: LIVESTATUS_TCP_PORT
#       value: '6557'
#   mkp_packages:
#     - name: 'mypackage'
#       version: 1.0.0
#       src: '/path/to/my.mkp'
#       url: 'https://exchange.checkmk.com/packages/mypackage/4711/mypackage-1.0.0.mkp'
#       checksum: 'md5:mychecksum'
#       installed: true
#       enabled: true

## Site Updates
checkmk_server_backup_on_update: true  # Not recommended to disable this option
checkmk_server_backup_dir: '/tmp'
checkmk_server_backup_opts: '--no-past'
checkmk_server_allow_downgrades: 'false'

## HTTP Proxy
checkmk_server_download_proxy: ''
checkmk_server_gpg_download_proxy: "{{ checkmk_server_download_proxy }}"
