---
checkmk_server_server_stable_os:
  - Debian-10
  - Debian-11
  - Ubuntu-18
  - Ubuntu-20
  - Ubuntu-22
  - AlmaLinux-8
  - AlmaLinux-9
  - Rocky-8
  - Rocky-9
  - CentOS-7
  - CentOS-8
  - RedHat-7
  - RedHat-8

checkmk_server_version: 2.2.0p3
checkmk_server_edition: cre
checkmk_server_verify_setup: 'true'

checkmk_server_download_user: []
checkmk_server_download_pass: []

checkmk_server_sites: []
# - name: test
#   version: "{{ checkmk_server_version }}"
#   state: started
#   admin_pw: test
#   update_conflict_resolution: abort

checkmk_server_configure_firewall: 'true'

checkmk_server_backup_on_update: 'true'  # Not recommended to disable this option
checkmk_server_backup_dir: /tmp
checkmk_server_backup_opts: '--no-past'
checkmk_server_allow_downgrades: 'false'

checkmk_server_epel_gpg_check: 'true'
