---
# General
checkmk_version: "2.0.0p36"
checkmk_edition: "cre"
checkmk_site: "my_site"
server_url: "http://127.0.0.1/"
automation_user: "cmkadmin"
automation_secret: "d7589df1-01db-4eda-9858-dbcff8d0c361"

# Server Role
checkmk_server_edition: "{{ checkmk_edition }}"
checkmk_server_version: "{{ checkmk_version }}"
checkmk_server_verify_setup: 'true'

checkmk_server_configure_firewall: 'false'

checkmk_server_backup_on_update: 'true'  # Not recommended to disable this option
checkmk_server_backup_dir: /tmp
checkmk_server_backup_opts: '--no-past'
checkmk_server_allow_downgrades: 'true'

checkmk_server_sites:
  - name: "{{ checkmk_site }}"
    version: "{{ checkmk_version }}"
    state: started
    admin_pw: cmk
    update_conflict_resolution: install
  - name: "stopped"
    version: "{{ checkmk_version }}"
    state: stopped
    admin_pw: cmk
    update_conflict_resolution: install
  - name: "present"
    version: "{{ checkmk_version }}"
    state: present
    admin_pw: cmk
    update_conflict_resolution: install
  - name: "absent"
    version: "{{ checkmk_version }}"
    state: absent
    admin_pw: cmk
    update_conflict_resolution: install
