---
## Basic Configuration
checkmk_server_version: "2.2.0p47"
checkmk_server_edition: "cre"
checkmk_server_verify_setup: true
checkmk_server_epel_gpg_check: true
checkmk_server_cleanup: false

## Authentication
checkmk_server_download_user: []
checkmk_server_download_pass: []
checkmk_server_gpg_download_user: []
checkmk_server_gpg_download_pass: []

## Security
checkmk_server_no_log: false
checkmk_server_configure_firewall: true
checkmk_server_ports:
  - 22
  - 80
  - 443
  - 8000

checkmk_var_server_url: "http://127.0.0.1/"
checkmk_var_api_user: "cmkadmin"
checkmk_var_api_secret: "mysecret"

## Site Management
checkmk_server_sites:
  - name: "started"
    version: "{{ checkmk_server_version }}"
    edition: "{{ checkmk_server_edition }}"
    state: started
    admin_pw: "{{ checkmk_var_api_secret }}"
    update_conflict_resolution: install
    omd_auto_restart: true
    omd_config:
      - var: LIVESTATUS_TCP
        value: "on"
      - var: LIVESTATUS_TCP_PORT
        value: "6557"
    mkp_packages:
      - name: 'sslcertificates'
        version: 8.9.1
        src: '/tmp/sslcertificates.mkp'
        checksum: 'md5:d759c6be90fdbe2bb3a27e15fe2488b0'
        installed: true
        enabled: true
  - name: "stopped"
    version: "{{ checkmk_server_version }}"
    edition: "{{ checkmk_server_edition }}"
    state: stopped
    admin_pw: "{{ checkmk_var_api_secret }}"
    update_conflict_resolution: install
  - name: "enabled"
    version: "{{ checkmk_server_version }}"
    edition: "{{ checkmk_server_edition }}"
    state: enabled
    admin_pw: "{{ checkmk_var_api_secret }}"
    update_conflict_resolution: install
    omd_auto_restart: true
    omd_config:
      - var: AUTOSTART
        value: "on"
  - name: "disabled"
    version: "{{ checkmk_server_version }}"
    edition: "{{ checkmk_server_edition }}"
    state: disabled
    admin_pw: "{{ checkmk_var_api_secret }}"
    update_conflict_resolution: install
    omd_auto_restart: false
    omd_config:
      - var: AUTOSTART
        value: "off"
  - name: "present"
    version: "{{ checkmk_server_version }}"
    edition: "{{ checkmk_server_edition }}"
    state: present
    admin_pw: "{{ checkmk_var_api_secret }}"
    update_conflict_resolution: install
    omd_auto_restart: false
    omd_config:
      - var: LIVESTATUS_TCP
        value: "on"
    mkp_packages:
      - name: 'sslcertificates'
        version: 8.9.1
        url: 'https://exchange.checkmk.com/packages/sslcertificates/1570/sslcertificates-8.9.1.mkp'
        installed: true
        enabled: true
  - name: "absent"
    version: "{{ checkmk_server_version }}"
    edition: "{{ checkmk_server_edition }}"
    state: absent
    admin_pw: "{{ checkmk_var_api_secret }}"
    update_conflict_resolution: install

## Site Updates
checkmk_server_backup_on_update: true  # Not recommended to disable this option
checkmk_server_backup_dir: '/tmp'
checkmk_server_backup_opts: '--no-past'
checkmk_server_allow_downgrades: false

## Delegation
checkmk_server_delegate_download: "{{ inventory_hostname }}"
checkmk_server_gpg_delegate_download: "{{ checkmk_server_delegate_download }}"

## HTTP Proxy
checkmk_server_download_proxy: ''
checkmk_server_gpg_download_proxy: "{{ checkmk_server_download_proxy }}"
