---
- name: "Activate Changes."
  listen: activate changes
  tribe29.checkmk.activation:
    server_url: "{{ checkmk_agent_protocol }}://{{ checkmk_agent_server }}"
    site: "{{ checkmk_agent_site }}"
    automation_user: "{{ checkmk_agent_user }}"
    automation_secret: "{{ checkmk_agent_auth }}"
    force_foreign_changes: "{{ checkmk_agent_force_foreign_changes }}"
  delegate_to: "{{ checkmk_agent_delegate_api_calls }}"
  run_once: true  # noqa run-once
  when: checkmk_agent_auto_activate | bool
