---
- name: "Preflight - Fail if target host is not stable for this Role."
  ansible.builtin.fail:
    msg: "This role is not stable for the target operating system, {{ ansible_distribution }} {{ ansible_distribution_major_version }}."
  when: (ansible_distribution is not defined) or
        (ansible_distribution_version is not defined) or
        (ansible_distribution + "-" + ansible_distribution_major_version not in checkmk_server_server_stable_os)
  tags:
    - always

- name: "Preflight - Fail if Checkmk Edition is incorrect."
  ansible.builtin.fail:
    msg: "The provided Checkmk Edition '{{ checkmk_server_edition | lower }}' does  not exist or is not supported by this role."
  when: checkmk_server_edition | lower not in __checkmk_server_edition_mapping
  tags:
    - always

- name: "{{ ansible_system }}: Include OS Family specific Variables."
  ansible.builtin.include_vars: "{{ ansible_os_family }}.yml"
  tags:
    - include-os-family-vars
    - install-package
    - update-sites

- name: "{{ ansible_system }}: Get RPM or APT package facts."
  ansible.builtin.package_facts:
    manager: "auto"
  tags:
    - install-package
    - install-prerequisites

- name: "{{ ansible_system }}: Populate service facts."
  ansible.builtin.service_facts:

- name: "{{ ansible_os_family }} Derivatives: Update APT Cache."
  become: true
  ansible.builtin.package:
    update_cache: true
  when: ansible_os_family == "Debian"
  tags:
    - install-package
    - install-prerequisites

- name: "{{ ansible_system }}: Install Checkmk Prerequisites."
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop:
    - "{{ __checkmk_server_prerequisites }}"
  tags:
    - install-package
    - install-prerequisites

- name: "{{ ansible_system }}: Downloads Management."
  when: not 'check-mk-' + __checkmk_server_edition_mapping[checkmk_server_edition] + '-' +checkmk_server_version in ansible_facts.packages
  block:

    - name: "{{ ansible_system }}: Download Checkmk Server Setup."
      ansible.builtin.get_url:
        url: "{{ checkmk_server_download_url }}"
        dest: "{{ __checkmk_server_tmp_dir }}/{{ __checkmk_server_setup_file }}"
        mode: "0640"
        url_username: "{{ checkmk_server_download_user | default(omit) }}"
        url_password: "{{ checkmk_server_download_pass | default(omit) }}"
      environment:
        http_proxy: "{{ checkmk_server_download_proxy | default(omit, true) }}"
        https_proxy: "{{ checkmk_server_download_proxy | default(omit, true) }}"
      retries: 3
      tags:
        - download-package

    - name: "{{ ansible_system }}: Download Checkmk GPG Key."
      ansible.builtin.get_url:
        url: "{{ checkmk_server_gpg_download_url }}"
        dest: "{{ __checkmk_server_tmp_dir }}/Check_MK-pubkey.gpg"
        mode: "0640"
        url_username: "{{ checkmk_server_gpg_download_user | default(omit) }}"
        url_password: "{{ checkmk_server_gpg_download_pass | default(omit) }}"
      environment:
        http_proxy: "{{ checkmk_server_gpg_download_proxy | default(omit, true) }}"
        https_proxy: "{{ checkmk_server_gpg_download_proxy | default(omit, true) }}"
      when: checkmk_server_verify_setup | bool
      retries: 3
      tags:
        - download-gpg-key

    - name: "{{ ansible_system }}: GPG Verification on Debian Derivatives."
      when: checkmk_server_verify_setup | bool and ansible_os_family == "Debian"
      block:
        - name: "Import Checkmk GPG Key."
          ansible.builtin.command: "gpg --import {{ __checkmk_server_tmp_dir }}/Check_MK-pubkey.gpg"
          register: __checkmk_server_gpg_import
          when: checkmk_server_verify_setup | bool
          changed_when: "'imported: 1' in __checkmk_server_gpg_import"
          tags:
            - import-gpg-key

        - name: "{{ ansible_system }}: Verify Checkmk Setup."
          ansible.builtin.command: gpg --verify "{{ __checkmk_server_tmp_dir }}/{{ __checkmk_server_setup_file }}"
          register: __checkmk_server_verify_state
          changed_when: false
          failed_when: "'Bad signature' in __checkmk_server_verify_state.stderr"
          tags:
            - download-package
            - install-package

    - name: "{{ ansible_system }}: Import Checkmk GPG Key."
      become: true
      ansible.builtin.rpm_key:
        key: "{{ __checkmk_server_tmp_dir }}/Check_MK-pubkey.gpg"
        state: present
      when: checkmk_server_verify_setup | bool and ansible_os_family == "RedHat"
      tags:
        - import-gpg-key

- name: "{{ ansible_system }}: Include OS Family specific Playbook."
  ansible.builtin.include_tasks: "{{ ansible_os_family }}.yml"
  tags:
    - always

- name: "{{ ansible_system }}: Include Site Management Playbook."
  ansible.builtin.include_tasks: "sites.yml"
  when: checkmk_server_sites is defined
  tags:
    - always

- name: "{{ ansible_system }}: Cleanup unused Checkmk Versions."
  become: true
  ansible.builtin.shell: |
    set -o pipefail
    omd cleanup
  args:
    executable: /bin/bash
  changed_when: "'Uninstalling' in __checkmk_server_cleanup_state.stdout"
  register: __checkmk_server_cleanup_state
  when: checkmk_server_cleanup | bool
  tags:
    - cleanup

- name: "{{ ansible_system }}: Cleanup Checkmk Server Setup."
  ansible.builtin.file:
    path: "{{ __checkmk_server_tmp_dir }}/{{ __checkmk_server_setup_file }}"
    state: absent
  tags:
    - download-package

- name: "Flush Handlers."
  ansible.builtin.meta:
    flush_handlers
  tags:
    - always
