---
- name: "Showcase rule module."
  hosts: test
  strategy: linear
  gather_facts: false
  vars_files:
    - ../vars/auth.yml      # This vars file provides details about your site
    - ../vars/folders.yml   # This vars file contains the folders to manage
    - ../vars/rules.yml    # This vars file contains the groups to manage
  tasks:
    - name: "Gather Date and Time Facts on localhost."
      ansible.builtin.setup:
        gather_subset:
          - date_time
      delegate_to: localhost
      run_once: true  # noqa run-once[task]

    - name: "Create folders."
      folder:
        server_url: "{{ checkmk_var_server_url }}"
        site: "{{ checkmk_var_site }}"
        api_user: "{{ checkmk_var_api_user }}"
        api_secret: "{{ checkmk_var_api_secret }}"
        path: "{{ item.path }}"
        name: "{{ item.name }}"
        state: "present"
      delegate_to: localhost
      run_once: true  # noqa run-once[task]
      loop: "{{ checkmk_var_folders }}"

    - name: "Create hosts."
      host:
        server_url: "{{ checkmk_var_server_url }}"
        site: "{{ checkmk_var_site }}"
        api_user: "{{ checkmk_var_api_user }}"
        api_secret: "{{ checkmk_var_api_secret }}"
        name: "{{ inventory_hostname }}"
        folder: "{{ checkmk_var_folder_path }}"
        attributes:
          site: "{{ checkmk_var_site }}"
          ipaddress: 127.0.0.1
        state: "present"
      delegate_to: localhost

    - name: "Create rules."
      rule:
        server_url: "{{ checkmk_var_server_url }}"
        site: "{{ checkmk_var_site }}"
        api_user: "{{ checkmk_var_api_user }}"
        api_secret: "{{ checkmk_var_api_secret }}"
        ruleset: "{{ item.ruleset }}"
        rule: "{{ item.rule }}"
        state: "present"
      loop: "{{ checkmk_var_rules }}"
      run_once: true  # noqa run-once[task]
      delegate_to: localhost

    - name: "Pause to review changes."  # noqa name[unique]
      ansible.builtin.pause:
        prompt: |
          "Feel free to review the changes in your Checkmk site: {{ checkmk_var_site }}."
          "Press <Enter> to continue."
      when: not checkmk_var_run_unattended | bool

    - name: "Activate changes on site."  # noqa name[unique]
      activation:
        server_url: "{{ checkmk_var_server_url }}"
        site: "{{ checkmk_var_site }}"
        api_user: "{{ checkmk_var_api_user }}"
        api_secret: "{{ checkmk_var_api_secret }}"
        force_foreign_changes: true
        sites:
          - "{{ checkmk_var_site }}"
      delegate_to: localhost
      run_once: true  # noqa run-once[task]

    - name: "Delete rules."
      rule:
        server_url: "{{ checkmk_var_server_url }}"
        site: "{{ checkmk_var_site }}"
        api_user: "{{ checkmk_var_api_user }}"
        api_secret: "{{ checkmk_var_api_secret }}"
        ruleset: "{{ item.ruleset }}"
        rule: "{{ item.rule }}"
        state: "absent"
      loop: "{{ checkmk_var_rules }}"
      run_once: true  # noqa run-once[task]
      delegate_to: localhost

    - name: "Delete Hosts."
      host:
        server_url: "{{ checkmk_var_server_url }}"
        site: "{{ checkmk_var_site }}"
        api_user: "{{ checkmk_var_api_user }}"
        api_secret: "{{ checkmk_var_api_secret }}"
        name: "{{ inventory_hostname }}"
        folder: "{{ checkmk_var_folder_path }}"
        state: "absent"
      delegate_to: localhost

    - name: "Delete folders."
      folder:
        server_url: "{{ checkmk_var_server_url }}"
        site: "{{ checkmk_var_site }}"
        api_user: "{{ checkmk_var_api_user }}"
        api_secret: "{{ checkmk_var_api_secret }}"
        path: "{{ item.path }}"
        name: "{{ item.name }}"
        state: "absent"
      delegate_to: localhost
      run_once: true  # noqa run-once[task]
      loop: "{{ checkmk_var_folders }}"

    - name: "Pause to review changes."  # noqa name[unique]
      ansible.builtin.pause:
        prompt: |
          "Feel free to review the changes in your Checkmk site: {{ checkmk_var_site }}."
          "Press <Enter> to continue."
      when: not checkmk_var_run_unattended | bool

    - name: "Activate changes on site."  # noqa name[unique]
      activation:
        server_url: "{{ checkmk_var_server_url }}"
        site: "{{ checkmk_var_site }}"
        api_user: "{{ checkmk_var_api_user }}"
        api_secret: "{{ checkmk_var_api_secret }}"
        force_foreign_changes: true
        sites:
          - "{{ checkmk_var_site }}"
      delegate_to: localhost
      run_once: true  # noqa run-once[task]
