- name: "Test all modules."
  hosts: test
  gather_facts: 'no'
  vars_files:
    - ./vars/config.yml
  tasks:
  - name: "Activate changes on site - Showcase no changes."
    activation:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      force_foreign_changes: 'true'
      sites:
      - "{{ site }}"
    delegate_to: localhost
    run_once: 'true'

  - name: "Create folders."
    folder:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      path: "{{ item.path }}"
      title: "{{ item.title }}"
      state: "present"
    delegate_to: localhost
    run_once: 'yes'
    loop: "{{ checkmk_folders }}"

  - name: "Create host."
    host:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      host_name: "{{ inventory_hostname }}"
      folder: "{{ checkmk_folder_path }}"
      attributes:
              site: "{{ site }}"
              ipaddress: 127.0.0.1
      state: "present"
    delegate_to: localhost

  - name: "Discover services on host."
    discovery:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      host_name: "{{ inventory_hostname }}"
      state: "fix_all"
    delegate_to: localhost

  - name: "Pause to review first set of changes."
    ansible.builtin.pause:
      prompt: |
        "Feel free to review the changes in your Checkmk site: {{ site }}."
        "Press <Enter> to continue."

  - name: "Activate changes on site - Showcase creation of hosts and folders."
    activation:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      force_foreign_changes: 'true'
      sites:
      - "{{ site }}"
    delegate_to: localhost
    run_once: 'true'

  - name: "Change host attributes."
    host:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      host_name: "{{ inventory_hostname }}"
      folder: "{{ checkmk_folder_path }}"
      attributes:
              site: "{{ site }}"
              alias: "Important Server"
              ipaddress: 127.0.0.2
      state: "present"
    delegate_to: localhost

  - name: "Move host to another folder."
    host:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      host_name: "{{ inventory_hostname }}"
      folder: "/bar"
      state: "present"
    delegate_to: localhost

  - name: "Pause to review second set of changes."
    ansible.builtin.pause:
      prompt: |
        "Feel free to review the changes in your Checkmk site: {{ site }}."
        "Press <Enter> to continue."

  - name: "Activate changes on site - Showcase changes to existing objects."
    activation:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      force_foreign_changes: 'true'
      sites:
      - "{{ site }}"
    delegate_to: localhost
    run_once: 'true'

  - name: "Delete Host."
    host:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      host_name: "{{ inventory_hostname }}"
      folder: "{{ checkmk_folder_path }}"
      state: "absent"
    delegate_to: localhost

  - name: "Delete folders."
    folder:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      path: "{{ item.path }}"
      title: "{{ item.title }}"
      state: "absent"
    register: testout
    delegate_to: localhost
    run_once: 'yes'
    loop: "{{ checkmk_folders }}"

  - name: "Activate changes on site - Showcase host and folders were deleted"
    activation:
      server_url: "{{ server_url }}"
      site: "{{ site }}"
      automation_user: "{{ automation_user }}"
      automation_secret: "{{ automation_secret }}"
      force_foreign_changes: 'true'
      sites:
      - "{{ site }}"
    delegate_to: localhost
    run_once: 'true'
