concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

name: Lookup Module Bakery

permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:
    branches:
      - main
      - devel
    types:
      - opened
    paths:
      - 'plugins/lookup/bakery.py'
  push:
    paths:
      - '.github/workflows/ans-int-test-lkp-bakery.yaml'
      - 'plugins/lookup/bakery.py'
      - 'plugins/module_utils/**'
      - 'tests/integration/files/includes/**'
      - 'tests/integration/targets/lookup_bakery/**'

jobs:

  # This test uses a custom reusable workflow, as it only needs commercial editions.
  # To keep load on the GitHub Runner sensible, we limited this reusable workflow
  # to CME, but with remote sites for the tests who need them.
  integration:
    name: "Integration Test"
    uses: ./.github/workflows/_template-ans-int-test-cme-remotes.yaml
    with:
      module: lookup_bakery
