concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

name: Module Site

permissions:
  contents: read

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:
    branches:
      - main
      - devel
    types:
      - opened
    paths:
      - 'plugins/modules/site.py'
  push:
    paths:
      - '.github/workflows/ans-int-test-site.yaml'
      - 'plugins/modules/site.py'
      - 'plugins/module_utils/**'
      - 'tests/integration/files/includes/**'
      - 'tests/integration/targets/site/**'

jobs:

  # This test uses a custom reusable workflow, as it needs remote sites.
  # To keep load on the GitHub Runner sensible, we limited this reusable workflow
  # to CME, but with remote sites for the tests who need them.
  integration:
    name: "Integration Test"
    uses: ./.github/workflows/_template-ans-int-test-cme-remotes.yaml
    with:
      module: site
