concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

name: Module Inventory
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:
    branches:
      - main
      - devel
    paths:
      - 'plugins/inventory/checkmk.py'
  push:
    paths:
      - '.github/workflows/ans-unit-test-inventory.yaml'
      - 'plugins/inventory/checkmk.py'
      - 'plugins/module_utils/**'
      - 'tests/unit/plugins/inventory/**'

jobs:

  integration:
    name: "Unit Tests"
    uses: ./.github/workflows/_template-ans-unit-test.yaml
    with:
      testpath: tests/unit/plugins/inventory/test_checkmk.py
