name: "Label Issues."

permissions:
  contents: read
  issues: write

on:
  issues:
    types: [opened, edited]

jobs:
  label:
    runs-on: ubuntu-24.04
    steps:
    - name: "Label Issues."
      uses: github/issue-labeler@v3.4
      with:
        configuration-path: .github/labels-issues.yml
        include-title: 1
        repo-token: ${{ github.token }}
        enable-versioned-regex: 0
        sync-labels: 0
