name: "Label Pull Requests."
on:
  pull_request_target:
    paths:
      - 'plugins/**'
      - 'roles/**'

permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    runs-on: ubuntu-latest
    steps:
    - name: "Label Pull Requests."
      uses: actions/labeler@v5
      with:
        configuration-path: .github/labels-prs.yml
        sync-labels: false
