# https://github.com/ansible-collections/collection_template/blob/main/.github/workflows/ansible-test.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

name: Role Agent
on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 0'
  pull_request:
    branches:
      - main
      - devel
    paths:
      - 'roles/agent/**'
      - '.github/workflows/molecule-role-agent.yaml'
  push:
    paths:
      - 'roles/agent/**'
      - '!roles/**/*.md'
      - '.github/workflows/molecule-role-agent.yaml'

jobs:

  integration:
    name: "Molecule"
    uses: ./.github/workflows/_template-molecule-test.yaml
    with:
      role: agent
